.main-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    position: relative;
}

#imageCanvas {
    border-radius: 10px;
    position: fixed;
    left: 50px;
    max-height: 75vh;
    max-width: 85vw;
}

.canvas-area {
    display: flex;
    justify-content: space-between;
}

button, select, input {
    background-color: #428CE2;
    color: white;
    font-weight: bold;
}

