@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.settings-panel {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    position: fixed;
    right: 20px;
    color: white;
    // background-color: #1C1E24;
    background-color: rgba(28, 30, 36, 0.5);
    border-radius: 10px;
    font-family: 'Inconsolata', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    max-height: 525px;
}

.setting {
    padding: 1rem;
    margin-bottom: 2rem;
}

.upload {
    border-bottom: 1px solid #272a31;
}


.btn {

    &__threshold{
        margin-top: 1rem;   
        width: 85%;     
    }

    &__color-channel {
        margin-top: 1rem;
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 150px;
        font-family: "Inconsolata";
        padding-left: 12px;
    }

    &__direction {
        margin-right: 2rem;

    }

    &__upload {
        background: none;
        margin: 0 1rem 0 0;
        font-family: 'Inconsolata';
    }

    &__save {
        margin-right: 1rem;
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 150px;
        font-family: "Inconsolata";
    }

    &__format-selector {
        font-family: "Inconsolata";
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 100px;
        text-align: center;
    }

}
.save {
    margin-bottom: 0;
}

.label__horizontal {
    margin-right: 1rem;
}


::-webkit-file-upload-button {
    font-family: 'Inconsolata';
    background-color: #428CE2;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
    text-align: center;
    margin-right: 1rem;
}

